@(title: String)(content: Html)(implicit flash: Flash, lang: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
    <div class="screenshot">
        <!-- 导航栏 -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.HomeController.index()">
                        @Messages("application.name")
                    </a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li class="active">
                            <a href="@routes.Products.products()">
                                @Messages("products.list.navigation")
                            </a> </li>
                        <li class="active">
                            <a href="@routes.Products.newProduct()">
                                <i class="icon-plus icon-white"></i>
                                @Messages("products.new.command")
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 内容 -->
        <div class="container">
            @if(flash.get("success").isDefined){
            <div class="alert alert-success">
                @flash.get("success")
            </div>
            }
            @if(flash.get("error").isDefined){
            <div class="alert alert-error">
                @flash.get("error")
            </div>
            }

            @content
        </div>
    </div>
    </body>
</html>
